* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav > .nav__logo--text,
.nav > .nav__title {
    margin: 0;
}

.nav > .nav__logo--text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav > .nav__title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav > .nav__logo--img {
    height: 30px;
    margin-right: 7px;
}

.main {
    padding: 57px 27px;
    color: white;
    background-image: url(./images/react-icon-lg.png);
    background-repeat: no-repeat;
    background-position: 155% 75%;
}

.main__title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main__lists {
    margin-top: 46px;
    max-width: 400px;
}

.main__lists > li {
    line-height: 19px;
    padding-block: 10px;
}

.main__lists > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}